In [1]:
!pip install pandas openpyxl
!pip install holidays tensorflow xlrd
import pandas as pd
import numpy as np
import holidays
import os
import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from datetime import datetime, timedelta
from tensorflow.keras.layers import Input

df_list = []

for year in range(2004, 2025):

  base_file = f'Native_Load_{year}'
  file_xlsx = base_file + '.xlsx'
  file_xls = base_file + '.xls'

  if os.path.exists(file_xlsx):
      df_year = pd.read_excel(file_xlsx, engine='openpyxl')
      file_name = file_xlsx
  elif os.path.exists(file_xls):
      df_year = pd.read_excel(file_xls)
      file_name = file_xls
  else:
        print(f"file for the year {year} not found.")
        continue

  df_year.rename(columns={df_year.columns[0]: 'timestamp'}, inplace=True)
  df_year = df_year[['timestamp', 'SCENT']].copy() # keeps only south central region + timestamp
  df_year.rename(columns={'SCENT': 'load'}, inplace=True) # rename SCENT --> load

  def fix_24_hour(ts):
      if '24:00' in ts:
          date_part = ts.split()[0]
          fixed_ts = pd.to_datetime(date_part) + pd.Timedelta(days=1)
          return fixed_ts.replace(hour=0, minute=0)
      return pd.to_datetime(ts)
  df_year['timestamp'] = df_year['timestamp'].astype(str).apply(fix_24_hour)
  df_year['timestamp'] = df_year['timestamp'].dt.round('h')

  # create the hour, day of week, month, and is_weekend
  df_year['hour'] = df_year['timestamp'].dt.hour
  df_year['dayofweek'] = df_year['timestamp'].dt.dayofweek
  df_year['day'] = df_year['timestamp'].dt.day
  df_year['year'] = df_year['timestamp'].dt.year
  df_year['month'] = df_year['timestamp'].dt.month
  df_year['is_weekend'] = df_year['dayofweek'] >= 5

  # check for holidays
  us_holidays = holidays.US(years=year)
  df_year['is_holiday'] = df_year['timestamp'].dt.date.isin(us_holidays)
  # drop daylight savings dupes
  df_year = df_year[~df_year['timestamp'].duplicated()]

  df_list.append(df_year)

df = pd.concat(df_list, ignore_index=True)
print("Combined shape:", df.shape)

temp_list = []

for file in ["austin, texas 2004-01-01 to 2006-12-31.xlsx", "austin, texas 2007-01-01 to 2009-12-31.xlsx", "austin, texas 2010-01-01 to 2012-12-31.xlsx", "austin, texas 2013-01-01 to 2016-12-31.xlsx", "austin, texas 2017-01-01 to 2020-12-31.xlsx", "austin, texas 2021-01-01 to 2024-12-31.xlsx"]:
    temp_df = pd.read_excel(file)
    temp_df.rename(columns={temp_df.columns[0]: 'timestamp'}, inplace=True)
    temp_df['timestamp'] = pd.to_datetime(temp_df['timestamp']).dt.round('h')
    temp_df.rename(columns={temp_df.columns[1]: 'temperature'}, inplace=True)
    temp_list.append(temp_df)

df_temp = pd.concat(temp_list, ignore_index=True)
df = pd.merge(df, df_temp, on='timestamp', how='left')
df['temperature'] = df['temperature'].ffill()

# check num of rows
# df.head(30)

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: holidays in /usr/local/lib/python3.12/dist-packages (0.78)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.12/dist-packages (2.19.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (5.29.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (4.14.1)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.17.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.74.0)
Requirement already satisfied: tensorboard~=2.19.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.14.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.8.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.12/dist-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)
Combined shape: (184082, 9)

/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,timestamp,load,hour,dayofweek,day,year,month,is_weekend,is_holiday,temperature
0,2004-01-01 01:00:00,3639.115900,1,3,1,2004,1,False,True,62.8
1,2004-01-01 02:00:00,3495.158058,2,3,1,2004,1,False,True,62.6
2,2004-01-01 03:00:00,3322.697830,3,3,1,2004,1,False,True,62.8
3,2004-01-01 04:00:00,3201.716842,4,3,1,2004,1,False,True,62.8
4,2004-01-01 05:00:00,3163.737777,5,3,1,2004,1,False,True,62.8
5,2004-01-01 06:00:00,3214.383975,6,3,1,2004,1,False,True,62.7
6,2004-01-01 07:00:00,3286.231799,7,3,1,2004,1,False,True,64.1
7,2004-01-01 08:00:00,3296.791662,8,3,1,2004,1,False,True,64.9
8,2004-01-01 09:00:00,3393.138647,9,3,1,2004,1,False,True,66.4
9,2004-01-01 10:00:00,3639.074915,10,3,1,2004,1,False,True,66.4
10,2004-01-01 11:00:00,3929.111311,11,3,1,2004,1,False,True,69.4
11,2004-01-01 12:00:00,4054.986493,12,3,1,2004,1,False,True,70.2
12,2004-01-01 13:00:00,4098.611804,13,3,1,2004,1,False,True,73.1
13,2004-01-01 14:00:00,4094.848887,14,3,1,2004,1,False,True,73.5
14,2004-01-01 15:00:00,4042.673318,15,3,1,2004,1,False,True,73.5
15,2004-01-01 16:00:00,4014.447369,16,3,1,2004,1,False,True,73.3
16,2004-01-01 17:00:00,4023.759984,17,3,1,2004,1,False,True,73.1
17,2004-01-01 18:00:00,4240.145943,18,3,1,2004,1,False,True,70.7
18,2004-01-01 19:00:00,4635.697518,19,3,1,2004,1,False,True,70.4
19,2004-01-01 20:00:00,4593.894737,20,3,1,2004,1,False,True,69.8
20,2004-01-01 21:00:00,4489.300545,21,3,1,2004,1,False,True,68.8
21,2004-01-01 22:00:00,4347.505731,22,3,1,2004,1,False,True,68.0
22,2004-01-01 23:00:00,4100.791123,23,3,1,2004,1,False,True,66.8
23,2004-01-02 00:00:00,3747.238500,0,4,2,2004,1,False,False,66.6
24,2004-01-02 01:00:00,3432.679168,1,4,2,2004,1,False,False,65.9
25,2004-01-02 02:00:00,3237.736934,2,4,2,2004,1,False,False,66.6
26,2004-01-02 03:00:00,3136.826276,3,4,2,2004,1,False,False,65.9
27,2004-01-02 04:00:00,3092.578034,4,4,2,2004,1,False,False,65.9
28,2004-01-02 05:00:00,3121.418084,5,4,2,2004,1,False,False,65.9
29,2004-01-02 06:00:00,3281.927497,6,4,2,2004,1,False,False,65.5

In [2]:
# remove rows with NaNs after lagging
df = df.dropna()

#'temperature',
features = ['hour', 'day', 'dayofweek', 'month','is_weekend', 'is_holiday', 'year', 'temperature']

scaler_X = StandardScaler()
X = df[features]
y = df['load']
X = X[~y.isna()]
y = y.dropna()

In [3]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

print("Any NaN in X_train? ", pd.isna(X_train).any())
print("Any infinite in X_train? ", (X_train == float('inf')).any())
print("Any NaN in y_train? ", y_train.isna().any())
print("Any infinite in y_train? ", (y_train == float('inf')).any())
print(f"Total NaNs in y: {y.isna().sum()} out of {len(y)} samples")

from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam

model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(256, activation='relu'),
    Dense(256, activation='relu'),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(1)
])

from tensorflow.keras.callbacks import ReduceLROnPlateau

reduce_lr = ReduceLROnPlateau(
    monitor='val_loss',  # track validation loss
    factor=0.5,          # reduce LR by 50%
    patience=2,          # wait 5 epochs without improvement
    min_lr=1e-6          # lower bound
)

opt = Adam(learning_rate=0.001)

model.compile(optimizer=opt, loss='mse', metrics=['mae'])

model.fit(X_train, y_train, epochs=30, batch_size=32, validation_split=0.1, callbacks=[reduce_lr], verbose=1)

# MAPE
y_pred = model.predict(X_test).flatten()
mape = np.mean(np.abs((y_test - y_pred) / y_test)) * 100
print(f"MAPE on test set: {mape:.2f}%")

Any NaN in X_train?  False
Any infinite in X_train?  False
Any NaN in y_train?  False
Any infinite in y_train?  False
Total NaNs in y: 0 out of 184102 samples
Epoch 1/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 4040736.7500 - mae: 1052.1895 - val_loss: 298569.0000 - val_mae: 414.9472 - learning_rate: 0.0010
Epoch 2/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 17s 3ms/step - loss: 258079.8281 - mae: 386.6838 - val_loss: 231025.2500 - val_mae: 363.1881 - learning_rate: 0.0010
Epoch 3/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 203072.6875 - mae: 340.3517 - val_loss: 186124.3281 - val_mae: 325.6112 - learning_rate: 0.0010
Epoch 4/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 188837.5469 - mae: 326.4491 - val_loss: 177381.3281 - val_mae: 315.0208 - learning_rate: 0.0010
Epoch 5/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 177189.8125 - mae: 314.9693 - val_loss: 195895.5938 - val_mae: 333.7910 - learning_rate: 0.0010
Epoch 6/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 166314.3438 - mae: 304.4556 - val_loss: 157808.4688 - val_mae: 296.2852 - learning_rate: 0.0010
Epoch 7/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 159155.2656 - mae: 296.2538 - val_loss: 151812.8438 - val_mae: 289.0737 - learning_rate: 0.0010
Epoch 8/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 154367.5000 - mae: 290.9368 - val_loss: 150702.0781 - val_mae: 286.6286 - learning_rate: 0.0010
Epoch 9/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 2ms/step - loss: 152661.2500 - mae: 288.9671 - val_loss: 150077.3594 - val_mae: 289.9267 - learning_rate: 0.0010
Epoch 10/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 147460.3438 - mae: 283.9673 - val_loss: 178820.8281 - val_mae: 324.6618 - learning_rate: 0.0010
Epoch 11/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 147564.9062 - mae: 283.4408 - val_loss: 141200.8281 - val_mae: 278.5408 - learning_rate: 0.0010
Epoch 12/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 144656.6875 - mae: 279.9895 - val_loss: 140161.1250 - val_mae: 275.2474 - learning_rate: 0.0010
Epoch 13/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 142533.7812 - mae: 277.5503 - val_loss: 136927.1406 - val_mae: 275.4344 - learning_rate: 0.0010
Epoch 14/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 141112.6719 - mae: 276.0366 - val_loss: 136908.2969 - val_mae: 272.2640 - learning_rate: 0.0010
Epoch 15/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 21s 3ms/step - loss: 138990.2344 - mae: 274.7838 - val_loss: 131086.1094 - val_mae: 266.8746 - learning_rate: 0.0010
Epoch 16/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 138733.8906 - mae: 274.9517 - val_loss: 143386.1562 - val_mae: 281.5969 - learning_rate: 0.0010
Epoch 17/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 136863.8750 - mae: 270.6487 - val_loss: 141644.2500 - val_mae: 277.6270 - learning_rate: 0.0010
Epoch 18/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 130759.5391 - mae: 264.2545 - val_loss: 125377.8516 - val_mae: 258.6191 - learning_rate: 5.0000e-04
Epoch 19/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 2ms/step - loss: 129079.2344 - mae: 261.5265 - val_loss: 124905.9609 - val_mae: 257.9582 - learning_rate: 5.0000e-04
Epoch 20/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 125814.1016 - mae: 259.9908 - val_loss: 127036.7812 - val_mae: 262.1632 - learning_rate: 5.0000e-04
Epoch 21/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 21s 3ms/step - loss: 126877.0703 - mae: 260.2173 - val_loss: 130641.9922 - val_mae: 264.5135 - learning_rate: 5.0000e-04
Epoch 22/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 120331.5938 - mae: 252.2691 - val_loss: 120757.0859 - val_mae: 255.1155 - learning_rate: 2.5000e-04
Epoch 23/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 120104.4766 - mae: 252.7643 - val_loss: 120969.4219 - val_mae: 254.4907 - learning_rate: 2.5000e-04
Epoch 24/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 2ms/step - loss: 118441.3281 - mae: 250.6588 - val_loss: 124621.4922 - val_mae: 258.5591 - learning_rate: 2.5000e-04
Epoch 25/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 2ms/step - loss: 116463.2656 - mae: 248.0942 - val_loss: 120484.8203 - val_mae: 253.3108 - learning_rate: 1.2500e-04
Epoch 26/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 21s 3ms/step - loss: 116702.4922 - mae: 247.9402 - val_loss: 117896.1406 - val_mae: 250.6172 - learning_rate: 1.2500e-04
Epoch 27/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 116546.1953 - mae: 248.7019 - val_loss: 120359.9531 - val_mae: 252.9916 - learning_rate: 1.2500e-04
Epoch 28/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 115423.3984 - mae: 246.9187 - val_loss: 117400.1641 - val_mae: 249.3179 - learning_rate: 1.2500e-04
Epoch 29/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 11s 3ms/step - loss: 116588.1719 - mae: 247.0609 - val_loss: 117786.3906 - val_mae: 249.7710 - learning_rate: 1.2500e-04
Epoch 30/30
4143/4143 ━━━━━━━━━━━━━━━━━━━━ 20s 3ms/step - loss: 114218.2578 - mae: 246.3360 - val_loss: 118485.4375 - val_mae: 250.2231 - learning_rate: 1.2500e-04
1151/1151 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step
MAPE on test set: 3.78%

In [4]:
tomorrow = (pd.Timestamp.now(tz='US/Pacific').normalize().tz_convert(None)+ pd.Timedelta(days=1))
yesterday = tomorrow - pd.Timedelta(days=1)
print(f"Tomorrow's date: {tomorrow.date()}")
tomorrow_month = tomorrow.month
tomorrow_day = tomorrow.day

tomorrow_rows = []
for hour in range(24):
    temp_rows = df[(df['month'] == tomorrow_month) & (df['day'] == tomorrow_day) & (df['hour'] == hour)]
    temp_tomorrow = temp_rows['temperature'].mean() if not temp_rows.empty else None

    dayofweek = tomorrow.dayofweek
    day = tomorrow_day
    month = tomorrow_month
    is_weekend = int(dayofweek >= 5)
    is_holiday = int(tomorrow.date() in us_holidays)

    tomorrow_rows.append([
        hour,
        day, dayofweek, month,
        is_weekend, is_holiday,
        tomorrow.year,
        temp_tomorrow
    ])

X_tomorrow = pd.DataFrame(tomorrow_rows, columns=features)
X_tomorrow_scaled = scaler.transform(X_tomorrow)

predicted_loads = model.predict(X_tomorrow_scaled).flatten()

for hour, load in enumerate(predicted_loads):
    print(f"Hour {hour:02d}: {load:.2f} MW")

# print(tomorrow_df)
# df[(df['year'] == 2024) & (df['month'] == 8) & (df['day'] == 16)].dropna()

Tomorrow's date: 2025-08-24
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 335ms/step
Hour 00: 10444.75 MW
Hour 01: 9773.38 MW
Hour 02: 9258.14 MW
Hour 03: 8850.04 MW
Hour 04: 8554.83 MW
Hour 05: 8272.88 MW
Hour 06: 8058.69 MW
Hour 07: 7931.81 MW
Hour 08: 8168.57 MW
Hour 09: 8662.56 MW
Hour 10: 9195.15 MW
Hour 11: 10037.18 MW
Hour 12: 10914.77 MW
Hour 13: 11719.43 MW
Hour 14: 12330.95 MW
Hour 15: 12865.42 MW
Hour 16: 13242.00 MW
Hour 17: 13507.86 MW
Hour 18: 13479.83 MW
Hour 19: 13367.87 MW
Hour 20: 12968.92 MW
Hour 21: 12638.80 MW
Hour 22: 12041.04 MW
Hour 23: 11288.62 MW